$body-font-family: 'Source Sans Pro', sans-serif;
$heading-font-family: 'Source Sans Pro', sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

$white: #ffffff;
$black: #232129;
$purple: #663399;
$grey: #656270;
$light-grey: #f0f0f2;

$xs: 767px;
$md: 992px;
$lg: 1200px;
