@import '../abstracts/variables.scss';

.titleSection {
  display: block;
  padding: 3rem 0;

  h1 {
    font-weight: $bold;
    font-size: 2.5rem;
    margin: 0;
  }

  a {
    display: inline-flex;
    align-items: center;
    margin-bottom: 2rem;
    text-decoration: underline;
    color: $grey;

    &:hover {
      text-decoration: none;
    }

    svg {
      fill: $grey;
      display: inline-block;
      transform: rotate(180deg);
      margin-right: 0.26rem;
    }
  }
}
