@import '../abstracts/variables.scss';

.heroSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  h1{
    margin: 0 0 24px;
    font-size: 56px;
    font-weight: $bold;
    line-height: 60px;
    display: block;
    width: 100%;
  }

  h2{
    margin: 0 0 24px;
    font-size: 2em;
    font-weight: $bold;
    display: block;
    width: 100%;

    @media (min-width: 768px) {
      font-size: 3em;
      max-width: 600px;
    }
  }

  p{
    margin-bottom: 0;
    display: block;
    font-size: 18px;
    color: $grey;

    svg{
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      fill: $purple;
    }

    a{
      font-weight: $semi-bold;
      border-bottom: 2px solid $purple;

      &:hover{
        border-color: transparent;
      }
    }
  }
}